/* general stylings */

body {
    background-color: #eee;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #215A6D;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: #3CA2A2;
}

blockquote {
    border-left: #edece4 0.6em solid;
    padding: 0 1.6em 0 1.6em;
}


/* page sections */

footer {
    border-top: 1px solid #ccc;
}

#header {
    background-color: #2D2D29;
    color: #fff;
    text-align: center;
}

#header:after {
    content: "";
    display: block;
    height: 20px;
    border-top: 20px solid #215A6D;
    background-color: #3CA2A2;
    border-bottom: 20px solid #92C7A3;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #3CA2A2;
}

#footer {
    text-align: right;
}

#footer:before {
    content: "";
    display: block;
    height: 20px;
    border-top: 20px solid #3CA2A2;
    background-color: #215A6D;
}

.pagination {
    vertical-align: central;
    text-align: center;
    background-color: #fff;
    border-top: 1px dotted #efefef;
}

.pagination a {
    display: inline-block;
    background-color: #efefef;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}


/* share links */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.social-symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 60px;
}

a.social-symbol {
    cursor: pointer;
}


/* heroes */

.hero {
    margin: 10%;
}


/* article colors */

article.post {
    margin: 10%;
    padding: 10px 20px 50px;
    background-color: #fff;
}

.post {
    background-color: #FFFFFF;
}

.post header {}

.post .article-tags {
    margin-top: 50px;
    font-size: 14px;
}

.post .article-author {
    font-size: 14px;
}

.article-entry p {
    text-align: justify;
    margin: 1.6em;
}

.post .article-tags .article-tag {
    display: inline-block;
    padding: 5px;
    border-radius: 50px;
    background-color: #efefef;
}


/*
.article-date {
    background-color: #fff;
    text-align: center;
    opacity: 1 !important;
}

.article-date .article-day {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.75em;
    border-bottom: 1px dotted #efefef;
    color: #222;
}*/

#comment {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px dotted #efefef;
}


/* ghost it */

.ghost {
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
}

.ghost:first-of-type {
    opacity: 1;
}

.ghost-in {
    opacity: 1;
}


/* code highlighting */

.article-entry pre, .article-entry .highlight {
    background: #2d2d2d;
    margin: 0 -20px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
}

.article-entry .highlight .gutter pre, .article-entry .gist .gist-file .gist-data .line-numbers {
    color: #666;
    font-size: 0.85em;
}

.article-entry pre, .article-entry code {
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.article-entry code {
    background: #eee;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;
}

.article-entry pre code {
    background: none;
    text-shadow: none;
    padding: 0;
}

.article-entry .highlight pre {
    border: none;
    margin: 0;
    padding: 0;
}

.article-entry .highlight table {
    margin: 0;
    width: auto;
}

.article-entry .highlight td {
    border: none;
    padding: 0;
}

.article-entry .highlight figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
}

.article-entry .highlight figcaption:before, .article-entry .highlight figcaption:after {
    content: "";
    display: table;
}

.article-entry .highlight figcaption:after {
    clear: both;
}

.article-entry .highlight figcaption a {
    float: right;
}

.article-entry .highlight .gutter pre {
    text-align: right;
    padding-right: 20px;
}

.article-entry .highlight .line {
    height: 22.400000000000002px;
}

.article-entry .highlight .line.marked {
    background: #515151;
}

pre .comment, pre .title {
    color: #999;
}

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #f2777a;
}

pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f99157;
}

pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #9c9;
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #9c9;
}

pre .css .hexcolor {
    color: #6cc;
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #69c;
}

pre .keyword, pre .javascript .function {
    color: #c9c;
}


