<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <div class="main">
    <div class="container">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>

</html>
