<% if (item.tags && item.tags.length){ %>
Filed under:
  <% item.tags.forEach(function(tag) { %>
    <a href='<%= config.root + tag.path %>' class="article-tag">#<%= tag.name %></a>
  <% }); %>
<% } %>