/* articles styles (main page article summaries) */

.articles-nav {
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
}

.article-short {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid getcolor($color-separators);
}

.article-short-header {
  padding-right: 1em;
}

.article-short-header h2 {
  margin: 0.5em 0;
}

/* post/article pages */

.backlink:hover .backlink-details {
  display: inline;
}

.backlink-details {
  display: none;
}

.post .article-entry {
  margin-bottom: 3em;
}

.article-entry h1 {
  border-bottom: 1px solid getcolor($color-separators);
}
