$color-footer-text: $pasty;
$color-footer-back: $darkbrown;

.page-footer {
  background-color: getcolor($color-footer-back);
  color: getcolor($color-footer-text);
  font-size: 2em;
  margin: 0;
  padding: 1em 0;
}

.page-footer a {
  color: getcolor($color-footer-text);
}
