<article class="hero card">

    <div class="photo"></div>
    <div class="me-info">
        <h1>Kellen Piffner</h1>
        <p>A software guy.</p>
        <%- partial('_partial/shareicons') %>
        <p>A software guy.</p>

        <div>
            <a href="#" class="btn btn-a">Contact Me!</a>
        </div>
    </div>
</article>