<div class="hero-blurb">
  <img class="hero-cto-logo" src="img/CTO2Go-Rounder.svg">
  <p>I create, and help others create, software and process solutions to complex problems.</p>

  <p>If this sounds interesting to you or your organization, or if you'd just like to chat about the latest
    buzzwords, <a href="<%- config.root %>contact">send me a message</a>!</p>
</div>
