<header class="page-header">
    <div class="row page-header-title">
        <h1 class="col c7"><%= config.title %></h1>
        <div class="col c5 page-right-col">
             <%- partial('_partial/shareicons') %>
        </div>
    </div>
</header>

<p class="hero-blurb">
    I create software. If you're interested in that kind of thing, <a href="#">contact me</a>!
</p>