<!--[if lt IE 9]>
<div class="unsupported-browser">
    <p>This site talks about a lot of modern web technologies. As such, you're going to be missing out on a lot with this older browser.</p>
    <p>I recommend upgrading to the latest <a href="https://ie.microsoft.com/">Internet Explorer</a>, <a href="https://chrome.google.com">Google Chrome</a>, or <a href="https://mozilla.org/firefox/">Firefox</a>.</p>
    <p>If you are using IE 9 or later, make sure you <a href="http://windows.microsoft.com/en-US/windows7/webpages-look-incorrect-in-Internet-Explorer">turn off "Compatibility View"</a>.</p>
</div>
<![endif]-->
