<nav class="articles-nav row">
    <div class="col c6 col-fill">
        <% if (page.prev){ %>
            <a href="<%- config.root %><%- page.prev_link %>">< Newer Entries </a>
        <% } %>
    </div>
    <div class="col c6 col-right">
        <% if (page.next){ %>
            <a href="<%- config.root %><%- page.next_link %>">Older Entries ></a>
        <% } %>
    </div>
</nav>